@model FinalProject2.Models.OrderCartViewModel

@{
    ViewBag.Title = "Order Summary";
}
@section Scripts {
    <script src="~/Scripts/MVCEventScripts/EventScripts.js"></script>
}
<h2>Index</h2>

<div>
    <table class="table" width="100%">
            <tr>
                <th> </th>
                <th width="25%">Title</th>
                <th width="25%">Start Date</th>
                <th width="40">Quantity</th>
                <th width="25%"></th>
            </tr>
            @foreach (var item in Model.CartItems)
            {
                <tr>
                    <td width="25%">@item.EventSelected.EventName </td>
                    <td width="25%">@item.EventSelected.StartDate </td>
                    <td width="25%" id="item-count-@item.EventID" >@item.Count</td>
                    <td width="25%"><a href="#" data-id="@item.CartID" class="RemoveLink" width="40">Remove</a></td>
                </tr>
            }
        </table>
        <p class="button">
            @Html.ActionLink("Back to Browse", "Index", "Events")
        </p>
</div>