@model IEnumerable<EnrollmentApplication.Models.Enrollment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="panel panel-default">
    <div class=" panel-heading">Search by Student</div>
    <div class="panel-body">
        @using (Ajax.BeginForm("StudentSearch", "Enrollments", new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "GET",
            OnFailure = "StudentFailed",
            LoadingElementId = "ajax-loader",
            UpdateTargetId = "studentresults"
        }))
        {
            <input type="text" name="s" />
            <input type="submit" value="search" />
            <img id="ajax-loader"
                 src="@Url.Content("~/Content/Images/ajax-loader.gif")"
                 style="display:none" />
        }
        <div id="studentresults"></div>
    </div>
</div>

<div class="panel panel-default">
    <div class=" panel-heading">Search by Course</div>
    <div class="panel-body">
        @using (Ajax.BeginForm("CourseSearch", "Enrollments", new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "GET",
            OnFailure = "CourseFailed",
            LoadingElementId = "ajax-loader",
            UpdateTargetId = "courseresults"
        }))
        {
            <input type="text" name="c" />
            <input type="submit" value="search" />
            <img id="ajax-loader"
                 src="@Url.Content("~/Content/Images/ajax-loader.gif")"
                 style="display:none" />
        }
        <div id="courseresults"></div>
    </div>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Course.CourseTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssignedCampus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnrollmentSemester)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnrollmentYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Course.CourseTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedCampus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentSemester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.EnrollmentID }) |
                @Html.ActionLink("Details", "Details", new { id = item.EnrollmentID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.EnrollmentID })
            </td>
        </tr>
    }

</table>
@section Scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/apps/EnrollmentScripts.js"></script>
}
