@model FinalProject2.Models.OrderCartViewModel
@{
    ViewBag.Title = "Current Orders";
}
@section Scripts {
    <script src="~/Scripts/MVCEventScripts/EventScripts.js"></script>
}
<h2>Here are your current orders</h2>
<br />
<div id="update-message"></div>
<div>
    <table class="table" width="100%">
        <tr>
            <th width="20%">Order</th>
            <th width="20%">Event Name</th>
            <th width="20%">Start Date</th>
            <th width="20">Tickets Ordered</th>
            <th width="20%"></th>
        </tr>
        @foreach (var item in Model.CartItems)
        {
    <tr id="record-" @item.RecordID>
        <td width="20%">@item.RecordID</td>
        <td width="20%">@Html.ActionLink(item.EventSelected.EventName, "Details/" + item.EventID, "Events")</td>
        <td width="20%">@item.EventSelected.StartDate </td>
        <td width="20%" id="item-count-@item.EventID">@item.Count</td>
        <td width="20%"><a href="#" data-id="@item.RecordID" class="RemoveLink">Remove</a></td>
    </tr>
        }
    </table>

    
    <p class="button">
        @Html.ActionLink("Home", "Index", "Home")
    </p>
</div>