@model FinalProject.Models.Event

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">The Daily Deal:</h3>
    </div>
    <div class="panel-body">
        <div id="DailyDeal">
            <div id="event-details">
                <p>
                    <em>Event Name:</em>
                    @Model.Title
                </p>
                <p>
                    <em>Event Type:</em>
                    @Model.EventType
                </p>
                <p>
                    <em>Event Start:</em>
                    @Model.StartDate
                </p>
                <p>
                    <em>Event End:</em>
                    @Model.EndDate
                </p>
                <p>
                    <em>Available Tickets:</em>
                    @Model.AvailableTickets
                </p>
                <p>
                    @Html.ActionLink("Add to Cart", "AddToCart", "ShoppingCart",
                             new { id = Model.EventID },
                             new { @class = "btn btn.primary" })
                </p>
                @Html.ActionLink("Close listing", "Browse", "Home")
            </div>
        </div>
    </div>
</div>
