@model IEnumerable<FinalEventApplication.Models.Event>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div id="DailyDeal">
    @Ajax.ActionLink("Click here to see today's special.",
    "DailyDeal", null, new AjaxOptions
    {
        UpdateTargetId = "DailyDeal",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "GET"
    },
    new { @class = "btn btn-primary" })
</div>

<div class="panel panel-default">
    <div class=" panel-heading">Search by Organizer</div>
    <div class="panel-body">
        @using (Ajax.BeginForm("OrganizerSearch", "Home", new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "GET",
            OnFailure = "OrganizerFailed",
            LoadingElementId = "ajax-loader",
            UpdateTargetId = "Organizersearch"
        }))
        {
            <input type="text" name="a" />
            <input type="submit" value="search" />
            <img id="ajax-loader"
                 src="@Url.Content("~/Content/Images/ajax-loader.gif")"
                 style="display:none" />
        }
        <div id="Organizersearch"></div>
    </div>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrganizerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VenueId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrganizerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VenueId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxTickets)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.EventArtUrl)*@
                <img src="~/Content/Images/placeholder.gif" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailTickets)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.EventId }) |
                @Html.ActionLink("Details", "Details", new { id = item.EventId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.EventId })
            </td>
        </tr>
    }

</table>
@section Scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/MVCScripts/MVCSearchs.js"></script>
}